body{
    background-color:beige;
}
h1{
    text-align: center;
    font-size:300%;
    font-family:monospace;
}
div{
    text-align: center;
}
h2{
    font-size: 240%;
}
pre{
    font-size: xx-large;
}
ul{
    font-size: x-large;
}
ol pre{
    font-size: x-large;
}